 <!-- Task Iteams2 -->
            <div class="divide-y divide-gray-100">
                <div class="grid grid-cols-4 p-4 gap-4 border-b border-gray-200 items-center">

                    <div class="flex items-center gap-2">
                        <div class="w-2 h-2 bg-yellow-500 rounded-full"></div>
                        <div>
                            <span>
                                Test Task
                            </span>
                        </div>
                    </div>
                    <div>
                        <span class="px-3 py-1 rounded-full bg-gray-100 text-gray-600 text-sm">Normal</span>
                    </div>
                    <div>
                        <div class="flex -space-x-2">
                            <div
                                class="w-8 h-8 rounded-full bg-blue-500 flex items-center justify-center text-white text-sm border-2 border-white">
                                AJ

                            </div>

                            <div
                                class="w-8 h-8 rounded-full bg-blue-500 flex items-center justify-center text-white text-sm border-2 border-white">
                                EV</div>
                            <div
                                class="w-8 h-8 rounded-full bg-blue-500 flex items-center justify-center text-white text-sm border-2 border-white">
                                B</div>
                        </div>
                    </div>
                    <div>
                        <span class="text-gray-500">9 months ago</span>
                    </div>
                </div>
            </div>
            <!-- Task Iteams 3 -->
            <div class="divide-y divide-gray-100">
                <div class="grid grid-cols-4 p-4 gap-4 border-b border-gray-200items-center">

                    <div class="flex items-center gap-2">
                        <div class="w-2 h-2 bg-orange-500 rounded-full"></div>
                        <div>
                            <span>
                                Test  Task
                            </span>
                        </div>
                    </div>
                    <div>
                        <span class="px-3 py-1 rounded-full bg-orange-50 text-orange-600 text-sm">High</span>
                    </div>
                    <div>
                        <div class="flex -space-x-2">
                            <div
                                class="w-8 h-8 rounded-full bg-blue-500 flex items-center justify-center text-white text-sm border-2 border-white">
                                CA

                            </div>

                            <div
                                class="w-8 h-8 rounded-full bg-blue-500 flex items-center justify-center text-white text-sm border-2 border-white">
                                JS</div>
                            <div
                                class="w-8 h-8 rounded-full bg-blue-500 flex items-center justify-center text-white text-sm border-2 border-white">
                                AJ</div>
                                <div
                                class="w-8 h-8 rounded-full bg-blue-500 flex items-center justify-center text-white text-sm border-2 border-white">
                                B</div>
                        </div>
                    </div>
                    <div>
                        <span class="text-gray-500">9 months ago</span>
                    </div>
                </div>
 
            </div>





             <div
                                class="w-8 h-8 rounded-full bg-blue-500 flex items-center justify-center text-white text-sm border-2 border-white">
                                JS</div>
                            <


<!-- forms.py -->
 def create_task(request):
    # employees = Employee.objects.all()
    task_form = TaskModelForm()  # For GET
    task_detail_form = TaskDetailModelForm()

    if request.method == "POST":
        task_form = TaskModelForm(request.POST)
        task_detail_form = TaskDetailModelForm(request.POST)

        if task_form.is_valid() and task_detail_form.is_valid():

            """ For Model Form Data """
            task = task_form.save()
            task_detail = task_detail_form.save(commit=False)
            task_detail.task = task
            task_detail.save()

            messages.success(request, "Task Created Successfully")
            return redirect('create-task')

